.container {
    width: 85%;
    position: fixed;
    left: 14%;
    top: 12%;
}

.col-md-9 {
    width: 100%;
    height: 850px;
    margin-top: -1%;
    overflow-y: scroll;
}

.col-sm-8 {
    width: 40%;
}

.col-xs-4{
    margin-top: 0%;
}

.top-bar {
    background-color: #E8E6E5;
    padding: 1.5%;
    border-radius: 10px;
    vertical-align: top;
}

.form-control {
    border: 1px solid black;
}

h3 {
    margin-right: 1.5%;
    width: auto;
    display: inline-block
}

p.text-muted, a {
    display: inline-block
}

.img-responsive {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    box-shadow: 1px 1px 5px 3px #888888;
}

.row {
    width: 100%;
}

.addMargin {
    margin: 0 0 0 .5%;
}

.addRight {
    margin-right: 1%;
}

.button-wrap {
    position: absolute;
    right: 10%;
}

.rad-button {
    white-space: nowrap;
    top: 0px;
    border-radius: 4px;
    position: relative;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.1s all ease;
    font-size: 16px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 0px 0px #B8B8B8;
}

.rad-button.flat {
    background: #f0f0f0;
}

.rad-button:focus {
    outline: 0;
}

.rad-button:hover {
    background-color: #f5f5f5;
    top: -2px;
    height: 52px;
    border-bottom: 4px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.rad-button:hover.static {
    top: 0px;
    height: 50px;
}

.rad-button:active {
    top: 0px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #ededed;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
}