.container {
    width: 90%;
    position: absolute;
    left: 10%;
    top: 8%;
}

.col-md-9 {
    width: 100%;
}

.img-responsive {
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

.row {
    width: 100%;
}