.container{
    width: 90%;
    position: absolute;
    left: 10%;
    top: 8%;
}

.col-md-9{
    width: 100%;
}

h3{
    margin-top: 0px;
}

.img-responsive{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.row{
    width: 100%;
}