<div id="container">
  <h3>The world's #1 forum</h3>
  <h4>Register here:</h4>
  <form id="userForm" (submit)="onSubmit()" (reset)="onReset()">
    <label for="name">Name: </label>
    <input
      type="text"
      id="name"
      [(ngModel)]="newUser.name"
      name="newUser.name"
      placeholder="Enter a username"
    />
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      [(ngModel)]="newUser.password"
      name="newUser.password"
      placeholder="Enter a password"
    />
    <button type="submit">Sign up</button> <button type="reset">Close</button>
  </form>
</div>
