<div id="container">
  <h4>Welcome to the world's #1 messaging platform:</h4>
  <form id="userForm" (submit)="onSubmit()">
    <p>{{ newUser | json }}</p>
    <label for="name">Name: </label>
    <input
      type="text"
      id="name"
      [(ngModel)]="newUser.name"
      name="newUser.name"
      placeholder="Enter a username"
    />
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      [(ngModel)]="newUser.password"
      name="newUser.password"
      placeholder="Enter a password"
    />
    <button type="submit">OK</button>
  </form>
</div>
