<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chatroom</title>
  </head>

  <body>
    <app-navbar></app-navbar>
    <div id="wrapper">
      <h1 id="title">Conversation Board</h1>
      <div id="conversation_board">
        <p *ngFor="let message of messages">
          {{ message.user.name }}: {{ message.content }}
        </p>
      </div>
      <div *ngFor="let user of users" id="user_list">
        <p>{{ user.name }}</p>
      </div>
      <form id="messageForm">
        <input
          [(ngModel)]="message.content"
          name="message"
          placeholder="Type a message"
        />
        <button (click)="sendMessage()">Send</button>
      </form>
    </div>

    <div id="container">
      <p>Welcome to the world's #1 messaging platform:</p>
      <p>Your name:</p>
      <form id="userForm" (submit)="onSubmit()">
        <input
          type="text"
          [(ngModel)]="user.name"
          name="username"
          placeholder="Username"
        />
        <button type="submit">OK</button>
      </form>
      <p>{{ user | json }}</p>
    </div>
    <app-joinedthreads></app-joinedthreads>
  </body>
</html>
