<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chatroom</title>
  </head>

  <body>
    <app-navbar [user]="user"></app-navbar>
    <a
      [routerLink]="['threads']"
      style="position: absolute; left: 40%; top: 30%;"
      >Go to threads</a
    >
    <router-outlet></router-outlet>

    <div id="modal-container" class="hidden"></div>
    <div id="overlay" (click)="removeModal()" class="hidden"></div>
    <app-joinedthreads></app-joinedthreads>
  </body>
</html>
